---
version: "3.6"

services:
  search_service:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/search_service:latest
    build: .
    ports:
      - 8000:8000
    env_file:
      - docker-compose.env

  localstack:
    image: localstack/localstack-full:0.12.8
    environment:
      DEFAULT_REGION: eu-west-1
      HOSTNAME_EXTERNAL: localstack
      SERVICES: es, secretsmanager
    volumes:
      - "./scripts/localstack:/docker-entrypoint-initaws.d"

  postgres:
    image: postgres:15.2
    command: postgres
    environment:
      POSTGRES_USER: searchservice
      POSTGRES_PASSWORD: searchservice
      POSTGRES_DB: searchservice
      PGPASSWORD: searchservice

  swagger-ui:
    image: swaggerapi/swagger-ui
    environment:
      SWAGGER_JSON: /tmp/swagger.yml
    volumes:
      - ./swagger.yml:/tmp/swagger.yml
    ports:
      - 8383:8080

  swagger-generate:
    image: quay.io/goswagger/swagger
    environment:
      GO111MODULE: "off"
      GOPATH: /go
    volumes:
      - ./:/go/src
    working_dir: /go/src
    entrypoint: ["swagger", "generate", "spec", "-o", "/go/src/swagger.yml", "--scan-models"]

  wait-for-it:
    image: wait-for-it
    build: ./wait-for-it
