---
version: "3.7"

services:
  search-service:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/search_service:latest
    build:
      dockerfile: docker/search-service/Dockerfile
      context: .
    ports: ["8000:8000"]
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - docker-compose.env

  localstack:
    image: localstack/localstack:2.3.2
    environment:
      AWS_DEFAULT_REGION: eu-west-1
      SERVICES: es, secretsmanager
    networks:
      default:
        aliases:
          - search-service.eu-west-1.opensearch.localhost.localstack.cloud
    volumes:
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./scripts/localstack/wait:/scripts/wait"
    healthcheck:
      test: bash /scripts/wait/healthcheck.sh
      interval: 30s
      timeout: 5s
      retries: 8

  gosec:
    image: securego/gosec:latest
    working_dir: /app
    volumes:
      - .:/app
    command: -exclude-dir=.gocache /app/...

  go-lint:
    image: golangci/golangci-lint:v1.55.2
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v1.53.3:/root/.cache
    command: golangci-lint run -v --timeout 5m

  postgres:
    image: postgres:13.12
    ports: ["5434:5432"]
    command: postgres
    environment:
      POSTGRES_USER: searchservice
      POSTGRES_PASSWORD: searchservice
      POSTGRES_DB: searchservice
      PGPASSWORD: searchservice

  test-runner:
    build:
      context: docker/test-runner/
    command: gotestsum --junitfile test-results/unit-tests.xml -- ./... -coverprofile=test-results/test-coverage.txt
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.gocache:/go/pkg/mod
    env_file:
      - docker-compose.env

  swagger-ui:
    image: swaggerapi/swagger-ui
    environment:
      SWAGGER_JSON: /tmp/openapi.yml
    volumes:
      - ./docs/openapi/openapi.yml:/tmp/openapi.yml
    ports:
      - 8383:8080

  swagger-generate:
    image: quay.io/goswagger/swagger
    environment:
      GO111MODULE: "off"
      GOPATH: /go
    volumes:
      - ./:/go/src
    working_dir: /go/src
    entrypoint: ["swagger", "generate", "spec", "-o", "/go/src/docs/openapi/openapi.yml", "--scan-models"]

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results

  pact-verifier:
    image: pactfoundation/pact-ref-verifier
    depends_on:
      - pact-provider-state-api
    entrypoint:
      - pact_verifier_cli
      - --hostname=search-service
      - --port=8000
      - --base-path=/services/search-service/
      - --broker-url=https://pact-broker.api.opg.service.justice.gov.uk/
      - --provider-name=search-service
      - --header=${PACT_HEADER:-}
      - --loglevel=debug
      - --state-change-url=http://pact-provider-state-api:5175/provider_state_change
      - --state-change-teardown

  pact-provider-state-api:
    depends_on:
      - search-service
    build:
      context: pact
      dockerfile: Dockerfile
    ports:
      - 8175:5175
    volumes:
      - ./pact/api:/usr/src/app/api
    environment:
      SEARCH_SERVICE_URL: http://search-service:8000/services/search-service/
