name: Test & Build

on:
  schedule:
    - cron: "00 10 * * 1"

  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: "Test Search Service"
    runs-on: ubuntu-latest
    env:
      TEST_RESULTS: /tmp/test-results
      GOTESTSUM_FORMAT: short-verbose
      AWS_ACCESS_KEY_ID: localstack
      AWS_SECRET_ACCESS_KEY: localstack
      DEFAULT_REGION: eu-west-1
      AWS_ELASTICSEARCH_ENDPOINT: http://search-service.eu-west-1.es.localhost.localstack.cloud:4566
      AWS_SECRETS_MANAGER_ENDPOINT: http://localhost:4566
    services:
      localstack:
        image: localstack/localstack:1.4.0
        env:
          DEFAULT_REGION: eu-west-1
          SERVICES: es,secretsmanager
        ports:
          - 4566:4566
          - 4571:4571
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.17.5
      - uses: actions/setup-python@v4
      - name: Setup gotestsum
        uses: autero1/action-gotestsum@v2.0.0
        with:
          gotestsum_version: 1.6.4
      - uses: unfor19/install-aws-cli-action@v1
      - run: |
          python -m pip install awscli-local
      - name: Resolve Go mod cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Resolve Go Dependencies
        run: |
          go mod download
      - run: |
          mkdir -p ${{ env.TEST_RESULTS }}
      - name: Run Unit and Integration Tests
        run: |
          make test

  gosec:
    name: Security Scan
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v3
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./...

  build:
    name: "Build & Push Containers"
    runs-on: ubuntu-latest
    needs: ['gosec','test']
    outputs:
      branch: ${{ steps.set-outputs.outputs.branch }}
      tag: ${{ steps.bump_version.outputs.tag }}
    steps:
      - uses: actions/checkout@v3
      - name: Extract branch name
        run: |
          if [ "${{ github.head_ref }}" == "" ]; then
            echo BRANCH_NAME=main >> $GITHUB_ENV
          else
            echo BRANCH_NAME=$(echo ${{ github.head_ref }} | sed 's/\//-/g') >> $GITHUB_ENV
          fi
        id: extract_branch
      - uses: unfor19/install-aws-cli-action@v1

      - name: Build Container
        run: |
          docker build --file Dockerfile --tag search_service:latest .

      - name: Trivy Image Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: search_service:latest
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Bump version
        id: bump_version
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INITIAL_VERSION: 1.0.0
          DEFAULT_BUMP: minor
          PRERELEASE: true
          PRERELEASE_SUFFIX: ${{ env.BRANCH_NAME }}
          RELEASE_BRANCHES: main
          WITH_V: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::311462405659:role/sirius-actions-ci
          role-duration-seconds: 3600
          role-session-name: GitHubActions

      - name: ECR Login
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registries: 311462405659

      - name: Push Container
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          SEARCH_SERVICE_ECR_REPOSITORY: search_service
        run: |
          docker tag search_service:latest $ECR_REGISTRY/$SEARCH_SERVICE_ECR_REPOSITORY:${{ steps.bump_version.outputs.tag }}
          docker tag search_service:latest $ECR_REGISTRY/$SEARCH_SERVICE_ECR_REPOSITORY:latest
          if [ "$BRANCH_NAME" == "main" ]; then
            # We want all of the tags pushed
            docker tag search_service:latest $ECR_REGISTRY/$SEARCH_SERVICE_ECR_REPOSITORY:main-${{ steps.bump_version.outputs.tag }}
            docker push --all-tags $ECR_REGISTRY/$SEARCH_SERVICE_ECR_REPOSITORY
          else
            docker push $ECR_REGISTRY/$SEARCH_SERVICE_ECR_REPOSITORY:${{ steps.bump_version.outputs.tag }}
          fi

  push-tags:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::997462338508:role/sirius-actions-ci
          role-duration-seconds: 3600
          role-session-name: GitHubActions

      - name: Install AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Push Tag to Parameter Store
        run: |
          aws ssm put-parameter --name "opg-search-service-latest-green-build" --type "String" --value "${{ needs.build.outputs.tag}}" --overwrite --region=eu-west-1

      - name: Trigger Dev Deploy
        shell: bash
        run: curl -u ${{ secrets.JENKINS_API_USER }}:${{ secrets.JENKINS_API_TOKEN }} "https://${{ secrets.JENKINS_URL }}/job/Sirius/job/Deploy_to_Development/build?token=${{ secrets.JENKINS_API_TOKEN_NAME }}&cause=Triggered+by+opg-search-service"
