name: Pact Provider Verification

on:
  repository_dispatch:
    types: [provider-verification]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Provider verification
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate JWT
        run: |
          pip install -r ./pact/requirements.txt

          # output from jwt_maker.py must be in form
          # Authorization=Bearer <token>
          PACT_HEADER=`python3 ./pact/api/jwt_maker.py`

          echo "PACT_HEADER=$PACT_HEADER" >> "$GITHUB_ENV"
      - name: Bring up services
        run: make build up
      - name: Verify specified Pact
        if: ${{ github.event_name == 'repository_dispatch' }}
        run: |
          PACT_HEADER=$PACT_HEADER docker-compose run --rm pact-verifier \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --url=${{ github.event.client_payload.pact_url }}
      - name: Verify pacts, including pending
        if: ${{ github.event_name == 'push' }}
        run: |
          PACT_HEADER=$PACT_HEADER docker-compose run --rm pact-verifier \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --consumer-version-selectors='{"mainBranch": true}' \
            --enable-pending
      - name: Verify pacts are still upheld
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # for this to work, when making a PR on the search-service repo,
          # there should either be a Sirius branch with the same name as
          # the search-service PR branch, containing
          # pacts to verify; or a consumer pact on the main Sirius branch
          PACT_HEADER=$PACT_HEADER docker-compose run --rm pact-verifier \
            --consumer-version-selectors='{ "branch": "${{ github.head_ref }}" }' \
            --consumer-version-selectors='{ "mainBranch": true }'
